.lead {
  max-width: 90.625%;
  padding: 0;
  margin: 48px auto 0;
}

@media (min-width: 1280px) {
  .lead {
    max-width: 76.875%;
    margin-top: 56px;
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}