.lead {
  max-width: 90.625%;
  padding: 0;
  margin: 4.6875% auto 0;
}

@media (min-width: 1280px) {
  .lead {
    max-width: 76.875%;
    max-height: 78.515%;
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 100%;
    min-height: 112.239%;
  }
}

@media (max-width: 320px) {
  .lead {
    max-width: 100%;
    min-height: 126.875%;
  }
}