.lead__title {
  max-width: 720px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Inter Black', 'Helvetica', 'Arial', sans-serif;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 1280px) {
  .lead__title {
    margin: 56px auto 32px;
  }
}

@media (max-width: 866px) {
  .lead__title {
    max-width: 600px;
    font-size: 80px;
    line-height: 1.1;
  }
}

@media (max-width: 620px) {
  .lead__title {
    max-width: 450px;
    font-size: 60px;
    line-height: 1.1;
  }
}

@media (max-width: 455px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 48px auto 0;
  }
}