.cover {
  max-width: 100%;
  min-height: 640px;
  padding: 0;
  margin: 92px auto 0;
  background: url(../../images/cover-trains.jpg) no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: 100%;
}

@media (min-width: 1280px) {
  .cover {
    max-width: calc(100% - (48px * 2));
    min-height: 740px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}