.cover__title {
  width: 560px;
  padding: 0;
  margin: 0 auto 32px;
  font-size: 72px;
  line-height: 1.05;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.1;
  }
}

@media (max-width: 552px) {
  .cover__title {
    max-width: 497px;
    font-size: 65px;
    line-height: 1.1;
  }
}

@media (max-width: 501px) {
  .cover__title {
    max-width: 280px;
    font-size: 38px;
    line-height: 1.1;
  }
}

@media (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.1;
    margin: 0 auto 16px;
  }
}