.place {
  max-width: 100%;
  padding: 0;
  margin-bottom: 8.621%;
  display: grid;
  grid-template: minmax(min-content, max-content) minmax(440px, 1fr) / minmax(440px, 1fr) minmax(min-content, max-content);
  gap: 48px 32px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1280px) {
  .place {
    margin-bottom: 8.131%;
    grid-template: minmax(min-content, max-content) minmax(460px, 1fr) / minmax(460px, 1fr) minmax(min-content, max-content);
    gap: 48px 40px;
  }
}

@media (max-width: 768px) {
  .place {
    margin-bottom: 10.14%;
    grid-template: minmax(min-content, max-content) minmax(340px, 1fr) / minmax(340px, 1fr) minmax(min-content, max-content);
    gap: 48px 28px;
  }
}

@media (max-width: 650px) {
  .place {
    grid-template: 1fr / 1fr;
    grid-template-areas:
      "title"
      "link"
      "image"
      "paragraph";
    gap: 32px 0;
  }
}

@media (max-width: 320px) {
  .place {
    margin-bottom: 15.625%;
  }
}