.footer {
  max-width: 90.625%;
  padding: 0;
  margin: 92px auto 24px;
}

@media (min-width: 1280px) {
  .footer {
    max-width: 92.5%;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 93.75%;
    margin-top: 88px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 186px;
    margin: 64px 118px 26px 16px;
  }
}